<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}">
  <title>users</title>
</head>
<body>
  <table class="table">
    <tr class='table-active'>
        <td>Firstname</td>
        <td>Name</td>
        <td>Age</td>
    </tr>
    {% for user in users %}
     <tr class='table-{% if loop.index is odd%}danger{% else %}success{% endif %}'>
      <td>{{ user.firstname }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.age }}</td>
     </tr> 
    {% endfor %}
  </table>
</body>
</html>