{% extends 'heritage.html.twig' %}

{% block title %} Héritage Twig{% endblock %}

{% block body %}
    {{ parent() }}
    <ol>
    <li>Je me forme en SYMFONY6</li>
    <li>C'est fastidieux Twig</li>
    </ol>
{% endblock %}
